*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.arrows-down{
  height:40px;
  width: 40px;
  position: fixed;
  top:80vh;
  right: 30px;
  background-color:rgb(172, 171, 171);
  border-radius: 50px;
  display: flex;
  justify-content:center;
  align-items:center;
  z-index: 100;
}

.arrows-down:hover{
  opacity:0.8;
}


.loading-page{
  display: flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
}

.loading-page .loading-logo{
  animation: loadingLogo 2s linear infinite;
}

.loading-circle{
  height: 200px;
  width: 200px;

  background:transparent;
  position: absolute;
  border-radius: 250px;
  border: 3px solid lightblue;
  border-style: none solid none none;
  animation:rotate 1s linear infinite;

}

@keyframes rotate {
  0%{
    transform: rotateZ(0)
  }
  50%{
    transform: rotateZ(180deg)
  }
  100%{
    transform: rotateZ(360deg)
  }
}


@keyframes loadingLogo {
  0%{
    opacity:1
  }
  50%{
    opacity:0.4
  }
  100%{
    opacity:1
  }
}

.leave-message{
  padding:15px;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color:#254E58;
  

}

.leave-message a{
  
  padding:15px 20px;
  border-radius: 8px;
  background: #254E58;
  color: #fff;
  box-shadow:  2px 2px 10px #cccccc53,
              -2px -2px 10px #ffffff57;
  border: 5px solid #88BDBC;
  cursor: pointer;
  text-decoration: none;
  
}

.leave-message a:hover{
  
              background: #5d9cac;
  transition: 0.4s;
}

.leave-message a:active{
  box-shadow:none;
  transition: 0.2s;
  transform: translateY(2px);
}

.contact-options{
  display:flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color:#4F4A41;
  position:sticky;
  bottom: 0;
  z-index: 1200;
}

.contact-option a{
  color:#88BDBC;
  /* border:1px solid ; */
  border-radius: 5px;
  height:50px;
  width:50px;
  display:flex;
  justify-content:center;
  align-items: center;
  cursor: pointer;
}

.contact-option a:hover{
   border:2px solid #254E58;
   background-color:white;
   color:green;
   padding:10px;
   transition: 0.6s
   
}

#contact-facebook :hover{
  color:blue;
}

.sitelink{
  background-color:white;
  height:2vh
}
